@import "navbar";

$bg_color: linear-gradient(150deg, rgba(2, 137, 190, 0.589), rgba(0, 0, 0, 0.562));
*{
    box-sizing: border-box;
}
body{
    background: $bg_color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    p{
        color: rgba(0, 0, 0, 0.808);
    }
}

font{
    family: Helvetica, sans-serif;
    size: 18px;
    weight: bold;
}
#container {
    margin: 1rem 1rem;
}

#whole{ 
    #header{
        .left-icons a, .right-icons a{
            font-size: 20px;
            font-weight: 900;
            text-decoration: none;
            color: #0f0f0f;
        }
        .mid-icons{
            input[type="search"]{
                border-radius: 5rem;
                height: 30px;
                width: 40%;
            }
            ::placeholder{
                font-size: 12px;
                font-style: italic;

            }
        }
    }
    #homepage{
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background: url(./images/cart1.jpg);
            background-position: center;

            #hcontent{
                    margin: 5rem 0.5rem;
                    box-shadow: 9px 9px 7px #0f0f0f;
                    background-color: rgba(61, 63, 61, 0.918);
                    border-radius: 1rem;
                    padding: 3rem;

                    .btn {
                            border-radius: 1.4rem;
                            padding: 0.9rem;
                            background-color: rgb(155, 122, 79);
                            max-width: fit-content;
                            margin: auto;
                            box-shadow: 2px 2px 4px #0f0f0f;
                            transition: all 0.4s;
                        }
                    
                        .btn:hover {
                            background-color: rgba(88, 60, 22, 0.774);;
                            color: white;
                        }
            }
    }
        #icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .icon{
                padding: 0.5rem;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.445), rgb(0, 122, 179));
                border-radius: 0.5rem 0.5rem 0.5rem 0;
                margin: 0.2rem;
                transition: all 0.3s;
            }
            .icon:hover{
                translate: 0.5rem;
            }
        }

    #contents{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid rgba(0, 255, 213, 0.356);
        overflow: hidden;
        -webkit-mask:
                linear-gradient(90deg,
                    transparent,
                    white 40%,
                    white 60%,
                    transparent);
        mask:
                linear-gradient(90deg,
                    transparent,
                    white 40%,
                    white 60%,
                    transparent);

        
        .content1{
                    margin: 5rem 0.5rem;
                    box-shadow: 9px 9px 7px #0f0f0f;
                    background-color: antiquewhite;
                    border-radius: 1rem;
                    padding: 1rem 3rem;
                    
                  
            
            

            .btn{
                border-radius: 1.4rem;
                padding: 0.9rem;
                background-color: rgb(0, 255, 255);
                max-width: fit-content;
                margin: auto;
                margin-bottom: -38px;
                box-shadow: 2px 2px 4px #0f0f0f;
                transition: all 0.5s;
            }
            .btn:hover{
                background-color: rgb(5, 108, 116);
                color: white;
            }
        }
        .content1 div{
            background-color: #ffffff67;
            padding: 0.1rem 0.5rem;
            border-radius: 2rem;
        }

        @mixin content1_bgdesign($bg_image){
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background: url($bg_image);
        }

        .first {
            @include content1_bgdesign("./images/red_set.jpeg");
            
        }
        .second {
            @include content1_bgdesign("./images/cam_phone.jpg");

        }
      
        .third {
            @include content1_bgdesign("./images/iphone.jpg");
            background-position: 0;
        }
        .fourth {
            @include content1_bgdesign("./images/headset.jpeg");
        }
        .fifth {

            @include content1_bgdesign("./images/black_set.jpeg");
        }


   
}
}